/*!----RESET----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-wrap: break-word;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::selection {
    background-color: #555;
    color: white;
}

body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}



/*!----HEADER----*/


header,
.navbar {
    background-color: rgb(252, 242, 242);
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
}


header h1 {
    font-size: 20px;
    letter-spacing: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*!----MAIN------*/

.hero {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../img/interiorplantas.jpg)
}

.herotext {
    background-color: rgba(94, 123, 100, 0.642);
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: content-box;
    width: 50%;
    border: 0px;
    padding: 20px;
}


/*!----CONOCE NUESTROS SERVICIOS----*/
.oasis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #5e7a61da;

}

.img-container {
    width: 100%;
    margin-bottom: 20px;
}

.image-side {
    max-width: 100%;
    height: auto;
}

.text-container {
    width: 100%;
    align-items: center;
    text-align: center;
}


/*!----FAVORITAS SECTION----*/

.favoritas-section {
    max-width: 100%;
}

.grid-container {
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.grid-container a {
    display: block;
    position: relative;
}


.grid-container a img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.grid-container a:hover img {
    opacity: 0.5;
}


.favoritas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    max-width: 1200px;
    align-items: center;
    gap: 20px;
    margin: 30px;
}

.left-text {
    grid-column: 2 / 3;
    text-align: left;
    font-weight: 300;
    font-style: inherit;
    letter-spacing: 0, 9px;

}

.right-text {
    grid-column: 1 / 2;
    text-align: right;
    font-weight: 700;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

/*!----CAROUSEL----*/

.carouselExampleFade {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*!----BOTONES----*/

.button {
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}


.oasis-container a {
    width: auto;
}



/*!----PÁGINA DE MACETAS Y ACCESORIOS----*/

.macetas {
    padding: 20px;
}

.maceta-section {
    margin-bottom: 40px;
}

.maceta-encabezado {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
}

.maceta-individual {
    text-align: center;
    margin-bottom: 20px;
}

.maceta-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    max-width: 100%;
    display: block;
    margin: 0 auto;

}

.descripcionmaceta {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    letter-spacing: 2px;
}

.maceta-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.maceta-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(239, 232, 232);
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: initial
}


.maceta-button:hover {
    background-color: #555;
}

.maceta-encabezado {
    font-style: initial;
    font-size: 25px;
    letter-spacing: 10px;


}

.section-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 40px 0;
    width: 50%;
}

.maceta-individual img {
    height: 450px;
    width: auto;
}


/*!----PÁGINA DE PLANTAS----*/

.galeria {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 5px;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.grid-item h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3333336c;
    color: white;
    opacity: 0;
    margin: 0;
    transition: opacity 0.3s ease;
    font-size: 1.2rem;
    z-index: 1;
    pointer-events: none;
}

.galeria div:hover h3 {
    opacity: 1;
}

.img4 {
    grid-column: span 2;
}

.img9 {
    grid-column: span 3;
}

.img3,
.img6,
.img7 {
    grid-row: span 2;
}

/*!----QUIENES-SOMOS----*/

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.story-section,
.contact-form {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f4f4fd;
    align-items: center;
    justify-content: center;
}

.story-section h2 {
    font-size: 24px;
    margin-top: 15px;
    text-align: center;
}

.story-section p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.contact-form {
    background-color: #f4f4f455;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/*!----SERVICIOS----*/

.servicios {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
    gap: 10px;
    padding: 10px;
}

.item-servicio {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-servicio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.img-hover {
    opacity: 0;
}

.item-servicio:hover .img-hover {
    opacity: 1;
}

.item-servicio:hover .img-default {
    opacity: 0;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.329);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    z-index: 1;
}

.text-overlay h3 {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}

/*!----FOOTER----*/

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    max-width: 100%;
}

.footer-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.footer-container h2 {
    font-size: calc(16px)
}

.footer-container {
    font-size: 18px;
}

.footer-column {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#navfooter ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#navfooter ul li {
    margin: 5px 0;
}

#navfooter ul li a {
    text-decoration: none;
    color: #000;
}

footer form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

footer form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 200px;
}


footer form button img {
    width: 20px;
    height: 20px;


}

footer form button {
    background-color: #00000000;
}

footer form button:hover {
    background-color: #55555500;
}

.redsocial a {
    margin: 0 10px;
}

.redsocial img {
    width: 30px;
    height: 30px;
    align-items: center;
    margin-top: 20px;
}


.redsocial {
    display: inline-block;
    margin: 0 5px;
}

.redsocial img {
    width: 30px;
    height: auto;
}


.whatsapp {
    max-width: 70%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp img {
    width: 40px;
    height: auto;
}


/*!----MEDIA QUERIES----*/


@media (min-width: 768px) {

    .grid-container,
    .maceta-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    .servicios {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 500px;
    }
}

@media (max-width: 992px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-toggler {
        align-self: center;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .oasis-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        background-color: #5e7a61da;
    }

    .img-container,
    .text-container {
        width: 48%;
    }

    .img-container {
        order: 2;
    }

    .text-container {
        order: 1;
    }
}

@media (min-width: 992px) {
    #navbarNav {
        justify-content: center;
    }

    .container {
        flex-direction: row;
    }

    .story-section,
    .contact-form {
        width: 50%;
        padding: 40px;
    }

    .story-section h2 {
        font-size: 28px;
    }

    .story-section p {
        line-height: 2;
    }

    .contact-form h2 {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    #navbarNav {
        background-color: rgb(252, 242, 242);

    }

}