// MEDIA QUERIES

@media (max-width: 992px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-toggler {
        align-self: center;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {

    // INDEX
    main {
        .favoritas-section {
            .maceta-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(1, 1fr);
                gap: 20px;
            }
        }

        a {
            width: 100%;

            img {
                width: 100%
            }
        }
    }

    main {
        .oasis-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            background-color: #5e7a61da;
            display: flex;
            max-height: 600px;
            overflow: hidden;

            .img-container,
            .text-container {
                width: 48%;
            }

            .img-container {
                order: 2;
            }

            .text-container {
                order: 1;
            }

            #carouselExampleFade {
                width: 48%;
            }
        }

    }

    // QUIENES-SOMOS
    main {
        #container-qs {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;

            .story-section {
                flex-direction: column;

            }

            .contact-form {
                flex-direction: column;
            }
        }
    }

    // PLANTAS
    main {
        .galeria {

            .grid-item {
                a {
                    h3 {
                        opacity: 0;
                        transition: opacity 0.3s ease;
                    }
                }
            }

            .grid-item:hover {
                a {
                    h3 {
                        opacity: 1;
                    }
                }
            }

            .img4 {
                grid-column: span 2;
            }

            .img9 {
                grid-column: span 3;
            }

            .img3,
            .img6,
            .img7 {
                grid-row: span 2;
            }
        }
    }

    // MACETAS
    .macetas {
        .maceta-section {
            .maceta-container {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
    }

    // SERVICIOS
    main {
        .servicios {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 500px;
        }
    }
}

@media (min-width: 992px) {
    #navbarNav {
        justify-content: center;
    }
}

@media (max-width: 991px) {
    #navbarNav {
        background-color: rgb(252, 242, 242);
        margin-top: 12px;
    }
}